<mat-card>
  <div class="actions">
    <button mat-fab color="primary" ><mat-icon aria-hidden="false" aria-label="Example home icon">chat</mat-icon></button>
    <button mat-fab color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">cancel_presentation</mat-icon></button>
  </div>
  <mat-card-subtitle>1988-04-05</mat-card-subtitle>
  <mat-card-title class="userName">{{this.getUserName()}}</mat-card-title>
  <mat-card-content>
    <p>Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world</p>
  </mat-card-content>
</mat-card>
